
header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80px;
  background-color: #062720;
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 4px 0 4px #030F0F;
  position: sticky;
  top: 0;
}

.title-wg-git-seach{
  color: #03624C;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: .6rem;
  pointer-events: none;
}